@import "../../global/variables";
.InfoTray__container {
  font-family: $primaryFamily;
  position: fixed;
  bottom: -100px;
  left: 45%;
  margin: auto;
  height: fit-content;
  width: fit-content;
  align-items: center;
  backdrop-filter: blur(0.5px);
  background: #1212122c;
  border: 1px solid $secondaryFont;
  border-radius: 0.3rem;
  padding: 0.5rem;
  z-index: 99;
  color: $primaryFont;
  transform: translateY(-120px);
  animation: fadeIn 0.1s ease-in;
  .InfoTray {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }
  .infoTrayIcon {
    color: red;
    font-size: 1.3rem;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
