@import "../../global/variables";
.inputWrapper {
  display: flex;
  flex: 1;
  margin: 30px 0;
  flex-direction: column;
  gap: 0.5rem;
  label {
    font-weight: 500;
    font-size: 1rem;
    color: $secondaryFont;
    span {
      color: $error;
    }
  }
  input {
    padding: 0.4rem;
    background: transparent;
    outline: none;
    border: $base-border;
    font-size: 1.1rem;
    border-radius: $base-border-radius;
    color: $secondaryFont;
    &:focus {
      background: $secondaryBg;
      border: 2px solid rgba(255, 255, 255, 0.153);
    }
  }
  .errorField {
    background-color: rgba(255, 0, 0, 0.683);
    border-radius: 0.3rem;
    padding: 0.2rem;
    color: white;
  }
}
.passwordWrapper {
  position: relative;
  flex: 1;
  input {
    width: 100%;
  }
  .passwordWrapper__icon {
    position: absolute;
    font-size: 1.3rem;
    top: 22%;
    right: 10px;
    z-index: 10;
    color: $secondaryFont;
  }
}
