@import "../../../global/variables";
.RemoveMemberConfirmModal {
  font-family: $primaryFamily;
  h2 {
    margin-top: 0.3rem;
  }
  p {
    color: $secondaryFont;
    margin-top: 20px;
  }
  .RemoveMemberConfirmModal__btnGrp {
    display: flex;
    gap: 30px;
    width: fit-content;
    margin: 20px auto;
  }
}
