@import "../../global/variables";
.forgotPasswordInput {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondaryFont;
  font-family: $primaryFont;
  font-size: 1.2rem;
  .forgotPasswordContent {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
