@import "../../global/variables";
.fallbackLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primaryBg;
  min-height: 100dvh;
  width: 100vw;
  position: fixed;
  inset: 0;
  font-family: $primaryFamily;
  z-index: 999999;
  color: $secondaryFont;
  font-size: 1rem;
  > .bgContainer {
    h1 {
      color: $primaryFont;
      font-weight: 700;
      font-size: $font-size-lg;
      font-family: $logoFamily;
      letter-spacing: 0.1rem;
      margin: $base-margin 0;
      font-size: 1.8rem;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.4) 20%,
        rgba(255, 255, 255, 0.5) 40%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0.4) 80%
      );
      background-size: 200% auto;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      animation: textShine 3s linear infinite;
    }
  }
}
@keyframes textShine {
  to {
    background-position: 200% center;
  }
}
