@import "../../global/variables";
.LoadingScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000a9;
  backdrop-filter: blur(2px);
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  font-family: $primaryFamily;
  z-index: 999;
  color: $secondaryFont;
  font-size: 1rem;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    > p {
      text-align: center;
      max-width: 600px;
      padding: 0 0.5rem;
      margin-top: 10px;
    }
  }

  .error {
    color: $error;
  }
  .success {
    color: $success;
  }
}
