@import "../../global/variables";
.utilities__mainButton {
  padding: calc($base-padding/1.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: $secondaryFont;
  background-color: transparent;
  outline: none;
  border: $base-border;
  border-radius: $base-border-radius;
  transition: all 0.2s ease-out;
  .icon {
    font-size: 1.2rem;
  }
  .icon:empty {
    display: none;
  }

  &:hover {
    background: $secondaryBg;
    cursor: pointer;
  }
}
