@import "../../global/variables";
.CreateWorkspaceDialog {
  font-family: $primaryFamily;
  min-width: 600px;
  h2 {
    margin-top: 10px;
  }
  .CreateWorkspaceDialog__btnGrp {
    display: flex;
    gap: 30px;
    width: fit-content;
    margin: 20px auto;
  }
  @media (max-width: 650px) {
    & {
      min-width: 300px;
    }
  }
}
